<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pathfinder-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Pathfinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PathfinderTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9119C50E199D962A001DB154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9119C519199D962A001DB154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9176165F199E926500253001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91761670199E926500253001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
